@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #979797;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
   font-family: 'Nunito Sans', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}